.info{
    background-color: #133A6F;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 5px;
    border-radius: 4px;
    height: 28px;
    /* width: 100%; */
}

.square{
    background-color: white;
    width: 18px;
    height: 18px;
    rotate: 45deg;
    position: relative;
    left: 14px;
    margin-left: 15px;
    
}